/node_modules/
.idea
.venv
/test-results/
.env
/coverage/FullStack_frontend/src/components/Views/About.tsx.html
/coverage/FullStack_frontend/src/components/AdminPanel/AdminPanel.tsx.html
/coverage/FullStack_frontend/src/api/api.ts.html
/coverage/FullStack_frontend/src/App.tsx.html
/coverage/FullStack_frontend/src/components/Layout/routes/AppContent.tsx.html
/coverage/FullStack_frontend/src/Context/AuthContext.tsx.html
/coverage/FullStack_frontend/src/components/Auth/AuthForm/AuthForm.tsx.html
/coverage/base.css
/coverage/block-navigation.js
/coverage/clover.xml
/coverage/coverage-final.json
/coverage/FullStack_frontend/src/components/Dashboard/DashboardApp.tsx.html
/coverage/FullStack_frontend/src/components/Dashboard/DictionaryWidget.tsx.html
/coverage/favicon.png
/coverage/FullStack_frontend/src/components/Dashboard/Files/FileCard.tsx.html
/coverage/FullStack_frontend/src/components/Dashboard/Files/FileList.tsx.html
/coverage/FullStack_frontend/src/components/Dashboard/Files/FileUploader.tsx.html
/coverage/FullStack_frontend/src/tests/moks/fixtures.ts.html
/coverage/FullStack_frontend/src/components/Layout/routes/Forbidden.tsx.html
/coverage/FullStack_frontend/src/components/Views/Home.tsx.html
/coverage/FullStack_frontend/src/api/index.html
/coverage/FullStack_frontend/src/components/AdminPanel/index.html
/coverage/FullStack_frontend/src/components/Auth/AuthForm/index.html
/coverage/FullStack_frontend/src/components/Auth/index.html
/coverage/FullStack_frontend/src/components/Dashboard/Files/index.html
/coverage/FullStack_frontend/src/components/Dashboard/index.html
/coverage/FullStack_frontend/src/components/Layout/routes/index.html
/coverage/FullStack_frontend/src/components/Profile/index.html
/coverage/FullStack_frontend/src/components/Views/index.html
/coverage/FullStack_frontend/src/Context/index.html
/coverage/FullStack_frontend/src/hooks/index.html
/coverage/FullStack_frontend/src/tests/moks/index.html
/coverage/FullStack_frontend/src/tests/index.html
/coverage/FullStack_frontend/src/types/index.html
/coverage/FullStack_frontend/src/index.html
/coverage/FullStack_frontend/index.html
/coverage/index.html
/coverage/FullStack_frontend/src/types/index.ts.html
/coverage/FullStack_frontend/src/components/Auth/Login.tsx.html
/coverage/FullStack_frontend/src/main.tsx.html
/coverage/FullStack_frontend/src/components/Layout/routes/Navbar.tsx.html
/coverage/FullStack_frontend/src/components/Dashboard/Files/Pagination.tsx.html
/coverage/FullStack_frontend/playwright.config.ts.html
/coverage/prettify.css
/coverage/prettify.js
/coverage/FullStack_frontend/src/components/Layout/routes/PrivateRoute.tsx.html
/coverage/FullStack_frontend/src/components/Profile/Profile.tsx.html
/coverage/FullStack_frontend/src/components/Layout/routes/ProtectedRoute.tsx.html
/coverage/FullStack_frontend/src/components/Layout/routes/PublicRoute.tsx.html
/coverage/FullStack_frontend/src/components/Auth/Register.tsx.html
/coverage/sort-arrow-sprite.png
/coverage/sorter.js
/coverage/FullStack_frontend/src/tests/test-utils.tsx.html
/coverage/FullStack_frontend/src/hooks/useDebounce.ts.html
